@use '../base/variables' as *;
@use '../utilities/mixins' as *;

footer {
    @include flex-row(center, center);
    height: 40px;
    width: 100%;
    background-color: $header-colour;
    color: white;
}