@mixin flex-row($justfy-content, $align-items, $gap: 0) {
    display: flex;
    flex-direction: row;
    justify-content: $justfy-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin flex-column($justfy-content, $align-items, $gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: $justfy-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin flex-row-wrap($justfy-content, $align-items, $gap: 0) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justfy-content;
    align-items: $align-items;
    gap: $gap;
}
