// Colour
$background-colour: #E1DBE6;
$header-colour: #3B3B3B;
$calculator-colour: #bdcecb;
$button-colour-1: #FFC09F;
$button-colour-2: #88BA80;
$button-colour-3: #FFEE93;
$button-colour-4: #FAC5F8;
$button-colour-5: #9CADCE;

// Font
$line-height: 1.5;

// Padding
$padding: 20px;